.actualities {
  max-width: 1182px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 50px auto;
  .actualities__title {
    height: 109px;
    p {
      color: #333333;
      font-family: "Futura PT";
      font-size: 42px;
      font-weight: 300;
      letter-spacing: 0.76px;
      line-height: 60px;
      text-align: center;
    }
  }
  .actualities__images {
    display: flex;
    img {
      object-fit: cover;
      max-width: 570px;
      display: flex;
      width: 100%;
      height: 386px;
      cursor: pointer;
      transition: all 0.35s;
    }
  }
}
.actualities__images__left,
.actualities__images__right {
  transition: all 0.35s;
  margin: 9px;
}
.actualities__images__left:hover,
.actualities__images__right:hover {
  transform: scale(1.03);
}

.actualities__images__left {
  position: relative;
  &::after {
    cursor: pointer;
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .actualities__images__left__heading {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 266px;
    left: 30px;
    bottom: 28px;
    .heading__top__text {
      max-width: 510px;
      width: 100%;
      color: #ffffff;
      font-family: "Futura PT";
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 24px;
    }
    .heading__bottom__text {
      margin-top: 12px;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 18px;
      letter-spacing: 0;
      line-height: 28px;
    }
  }
}

.actualities__bottom__text {
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.35s;
  &:hover p {
    color: #464646;
  }
  p {
    color: #5a5a5a;
    font-family: "Futura PT";
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 3px;
    line-height: 32px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 4px;
      width: 4px;
      top: 13px;
      transform: rotate(-45deg);
      border: 2px solid #5a5a5a;
      border-top: none;
      border-left: none;
      margin-left: 10px;
    }
  }
}
