#footer {
  background-color: rgb(239, 239, 239);
  width: 100%;
  padding: 20px 74px;
  height: fit-content;

  .footer__inner {
    width: 100%;
  }

  .footer__inner__row-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .inner__row-1__logo {
      img {
        object-fit: contain;
        width: 120px;
      }
    }
    nav a {
      text-decoration: none;
      cursor: pointer;
      margin-left: 50px;
      color: #3e3e3e;
      font-family: "Futura PT";
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 40px;
      &:hover {
        color: #141414;
      }
    }
    .inner__row-1__socials {
      display: flex;
      align-items: center;
      img {
        margin: 10px;
        cursor: pointer;
        transition: all 0.35s;
      }
    }
  }
}

#footer {
  min-height: 300px;
  .footer__inner__row-2,
  .footer__inner__row-3 {
    text-align: center;
    margin-top: 40px;
    color: #666666;
  }

  .footer__inner__row-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      position: relative;
      width: fit-content;
      margin-bottom: 5px;
      font-size: 1.15rem;
      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 20px;
        bottom: -4px;
        width: 15px;
        height: 2px;
        background: #666666;
      }
    }
  }
}
