.hero {
  display: flex;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  .hero__img {
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative;
    img {
      display: flex;
      width: 100%;
    }
    .hero__img__heading {
      animation: slideInImageOverlay 3.5s;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 200px;
      background: rgba(0, 0, 0, 0.35);
      padding-left: 100px;
      .text {
        max-width: 600px;
        width: 100%;
        p {
          font-size: 4rem;
          color: white;
        }
      }
      .button {
        margin-top: 40px;
        button {
          padding: 15px;
          cursor: pointer;
          background: none;
          border: 2px solid white;
          border-radius: 5px;
          color: white;
          font-weight: 500;
          transition: all 0.25s;
          &:hover {
            transform: scale(1.04);
            background: rgba(0, 0, 0, 0.35);
          }
        }
      }
    }
  }
}

.hero {
  position: relative;
  .right__rectangle {
    animation: slideInImageRightRectangle 2.7s;
    border-radius: 8px;
    min-width: 236px;
    background-color: #334c3b;
    position: relative;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    .rectangle__inner__card {
      img {
        object-fit: contain;
        width: 80px;
      }
      margin: 10px;
      align-items: center;
      text-align: center;
      max-width: 185px;
      width: 100%;
      color: #ffffff;
      p {
        font-family: "Futura PT";
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 18px;
        text-align: center;
        margin-top: 15px;
      }
    }
  }
}
