.video {
  height: 393px;
  width: 1170px;
  max-width: 100%;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05);
  margin: 70px auto;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
      width: 100%;
      height: 100%;
    }
  }
  .video__playbutton {
    cursor: pointer;
    position: absolute;
    width: 96px;
    height: 96px;
    top: 145px;
    left: 45%;
    z-index: 10;
    border-radius: 100%;
    border: 3px solid white;
    transition: all 0.35s;
    &:hover,
    &:hover .video_playbutton_middle {
      transform: scale(1.05);
    }
    .video_playbutton_middle {
      height: 22px;
      width: 25px;
      left: 40px;
      top: 35px;
      background-color: #ffffff;
      clip-path: polygon(0% 0, 100% 100%, 50% 50%, 0 100%);
      position: absolute;
    }
  }
}
