@import "MediaQueries";
@import "Video";
@import "UniqueTech";
@import "Map";
@import "Hero";
@import "Header";
@import "Footer";
@import "Features";
@import "Actualities";
@import "AboutWood";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0 auto;
}

@keyframes slideInImageOverlay {
  from {
    transform: translateX(-1300px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes slideInImageRightRectangle {
  from {
    opacity: 0;
    transform: translateX(700px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes opacityAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
