@media (max-width: 1440px) {
  .header,
  .hero {
    padding: 10px; }
  .hero {
    flex-direction: column; }
    .hero .right__rectangle {
      max-width: 700px;
      width: 100%;
      right: 0 !important;
      height: 160px !important;
      top: -50px;
      box-shadow: 0px 5px 8px 0.1px rgba(0, 0, 0, 0.8);
      flex-direction: row !important; }
      .hero .right__rectangle .rectangle__inner__card {
        display: flex;
        flex-direction: column;
        justify-content: center; } }

.hamburger__menu {
  display: none; }

@media (max-width: 1200px) {
  .uniqueTechnologies {
    margin: 0 !important; }
    .uniqueTechnologies .uniqueTechnologies__bottom {
      flex-direction: column;
      align-items: center;
      height: auto !important; }
      .uniqueTechnologies .uniqueTechnologies__bottom__left {
        display: flex;
        justify-content: center;
        max-width: 100% !important;
        margin-bottom: 30px; }
      .uniqueTechnologies .uniqueTechnologies__bottom__right {
        justify-content: center !important; }
      .uniqueTechnologies .uniqueTechnologies__bottom__right__img__points {
        height: 100% !important; }
      .uniqueTechnologies .uniqueTechnologies__bottom .uniqueTechnologies__dropdown {
        margin: 0 40px !important; }
  .features__cards .feature__card .feature__left {
    margin: 20px 0 !important; }
  .header {
    left: 0;
    top: 0;
    box-shadow: 0px 2px 5px 0.1px rgba(121, 121, 121, 0.4);
    padding: 20px;
    position: relative;
    background: white;
    z-index: 100; }
    .header .header__right {
      margin-left: auto;
      margin-right: 20px; }
    .header .header__languages {
      z-index: 200;
      position: relative; }
      .header .header__languages button {
        display: block !important;
        background: none;
        border: 1px solid gray;
        padding: 5px;
        cursor: pointer;
        outline: none; }
      .header .header__languages ul {
        margin: 5px 0px;
        display: flex;
        flex-direction: column;
        position: absolute;
        background: white;
        overflow: hidden;
        height: 0px;
        width: 100px;
        text-align: center;
        align-items: center;
        transition: all 1s; }
        .header .header__languages ul li {
          width: 30%; }
      .header .header__languages .languages__list.active {
        border: 1px solid gray;
        transition: all 1s;
        height: 152px; }
    .header .hamburger__menu {
      display: block !important; }
    .header .hamburger__menu {
      display: flex;
      flex-flow: column wrap;
      width: 2.5rem;
      cursor: pointer; }
    .header .hamburger__menu .bar {
      height: 3px;
      background: black;
      border-radius: 5px;
      margin: 5px 0px;
      transform-origin: left;
      transition: all 0.5s; }
    .header .hamburger__menu.active .top {
      transform: rotate(45deg) translateX(2px) translateY(-7px); }
    .header .hamburger__menu.active .middle {
      transform: translateX(-70px);
      opacity: 0; }
    .header .hamburger__menu.active .bottom {
      transform: rotate(-45deg) translateY(7px) translateX(1px); }
    .header .header__middle {
      color: #2b2b2b;
      position: absolute;
      justify-content: center;
      width: 100%;
      top: 100px;
      left: 0;
      text-align: center;
      display: block;
      z-index: 100;
      transition: all 1s;
      height: 0px;
      overflow: hidden; }
    .header .header__middle.active {
      height: 242px;
      transition: all 1s;
      border: 1px solid gray; }
    .header .header__middle__nav {
      background: #dbdbdb;
      height: fit-content;
      transition: all 2s;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .header .header__middle__nav a {
        padding: 15px;
        border: 1px solid white;
        color: #2b2b2b;
        transition: all 0.25s;
        width: 100%; }
        .header .header__middle__nav a:hover {
          background: white;
          color: black;
          border-bottom: 1px solid gray; }
  .features__cards {
    justify-content: center !important; }
    .features__cards .feature__card {
      flex-direction: column !important;
      text-align: center; }
      .features__cards .feature__card .feature__left {
        margin-bottom: 20px; }
  .about__wood__card {
    flex-direction: column; }
    .about__wood__card .card__image__container {
      margin-bottom: 100px; } }

@media (max-width: 944px) {
  .uniqueTechnologies__bottom__right__img__points {
    height: 100% !important; }
  .uniqueTechnologies .uniqueTechnologies__bottom__right__img img {
    object-fit: contain !important;
    height: auto !important; }
  .hero .hero__img .hero__img__heading {
    padding: 0 !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center; }
    .hero .hero__img .hero__img__heading .text p {
      font-size: 2.8rem !important; } }

@media (max-width: 1024px) {
  .actualities__images {
    flex-wrap: wrap;
    justify-content: center; }
    .actualities__images img {
      max-width: 800px !important; }
  #footer .footer__inner__row-1 {
    flex-direction: column !important; }
    #footer .footer__inner__row-1 nav {
      margin: 20px 0; } }

@media (max-width: 768px) {
  .uniqueTechnologies .uniqueTechnologies__bottom__left {
    flex-direction: column !important; }
  .uniqueTechnologies .uniqueTechnologies__bottom__right__img__points__point {
    width: 30px !important;
    height: 30px !important; }
  .hero .hero__img .hero__img__heading {
    padding-bottom: 100px !important; }
    .hero .hero__img .hero__img__heading .text {
      max-width: 500px !important;
      width: 100%;
      padding: 20px; }
      .hero .hero__img .hero__img__heading .text p {
        font-size: 4vw !important; }
    .hero .hero__img .hero__img__heading .button {
      margin-top: 5px !important; }
      .hero .hero__img .hero__img__heading .button button {
        padding: 10px !important;
        font-size: 2vw !important; }
  .card__right {
    width: 90% !important; }
  #footer {
    padding: 20px 30px !important; }
    #footer .footer__inner__row-1 nav {
      display: flex;
      align-items: center;
      flex-direction: column; }
      #footer .footer__inner__row-1 nav a {
        margin: 0 !important; }
  .about__wood__card .card__right {
    margin-left: 0 !important; }
  .video img {
    object-fit: cover; }
  .hero .right__rectangle {
    height: fit-content !important; }
    .hero .right__rectangle .rectangle__inner__card h1 {
      font-size: 1.1rem; }
    .hero .right__rectangle .rectangle__inner__card p {
      font-size: 0.8rem !important; }
  section {
    padding: 5px; }
  .features {
    margin: 0px auto !important; }
    .features .features__title {
      height: 10px !important; }
    .features .right__middle__desc {
      font-size: 16px !important;
      line-height: 23px !important; }
    .features .right__top__title {
      font-size: 24px !important;
      margin-bottom: 8px; } }

@media (max-width: 425px) {
  .uniqueTechnologies
.uniqueTechnologies__bottom__right__img__points__point.corner {
    left: 15% !important;
    top: 15% !important; }
  .uniqueTechnologies
.uniqueTechnologies__bottom__right__img__points__point.foundationCrown {
    top: 42% !important;
    left: 0% !important; }
  .uniqueTechnologies
.uniqueTechnologies__bottom__right__img__points__point.dovetail {
    top: 7% !important;
    left: 56% !important; }
  .uniqueTechnologies
.uniqueTechnologies__bottom__right__img__points__point.reverseJoint {
    top: 30% !important;
    left: 61% !important; }
  .uniqueTechnologies .uniqueTechnologies__bottom__right__img__points__point {
    width: 25px !important;
    height: 25px !important; }
  .card__image__container img {
    height: 350px !important; }
  .unique__technologies .top-text .title {
    font-size: 1.8rem !important;
    line-height: 40px !important; }
  .unique__technologies .top-text .desc {
    font-size: 1.2rem !important;
    line-height: 25px !important; } }

@media (max-width: 375px) {
  .header .header__left img {
    width: 100px !important; }
  .hero .hero__img .hero__img__heading {
    padding-bottom: 10px !important; }
    .hero .hero__img .hero__img__heading .text {
      max-width: 500px !important;
      width: 100%;
      padding: 20px; }
      .hero .hero__img .hero__img__heading .text p {
        font-size: 5vw !important; }
    .hero .hero__img .hero__img__heading .button {
      margin-top: 5px !important; }
      .hero .hero__img .hero__img__heading .button button {
        padding: 8px !important;
        font-size: 1.8vw !important; }
  .hero .right__rectangle {
    background: none !important;
    box-shadow: none;
    top: 20px !important;
    margin-bottom: 20px;
    height: fit-content;
    flex-direction: column !important; }
    .hero .right__rectangle .rectangle__inner__card {
      border-radius: 5px;
      transition: all 0.25s;
      background: #34513d;
      margin: 5px 0;
      height: fit-content;
      max-width: 250px !important; }
      .hero .right__rectangle .rectangle__inner__card:hover {
        box-shadow: 0px 0px 10px 0.1px #1c1c1c; }
      .hero .right__rectangle .rectangle__inner__card h1 {
        font-size: 0.4rem !important; }
      .hero .right__rectangle .rectangle__inner__card p {
        font-size: 0.5rem !important; }
  .video .video__playbutton {
    left: 36% !important; }
  .actualities__images__left__heading {
    left: 10px !important;
    top: 250px !important; }
    .actualities__images__left__heading .heading__top__text {
      font-size: 1.1rem !important; }
    .actualities__images__left__heading .heading__bottom__text {
      font-size: 1.05rem !important; } }

.video {
  height: 393px;
  width: 1170px;
  max-width: 100%;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05);
  margin: 70px auto;
  position: relative; }
  .video img {
    height: 100%;
    width: 100%;
    position: relative; }
    .video img::after {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
      width: 100%;
      height: 100%; }
  .video .video__playbutton {
    cursor: pointer;
    position: absolute;
    width: 96px;
    height: 96px;
    top: 145px;
    left: 45%;
    z-index: 10;
    border-radius: 100%;
    border: 3px solid white;
    transition: all 0.35s; }
    .video .video__playbutton:hover,
    .video .video__playbutton:hover .video_playbutton_middle {
      transform: scale(1.05); }
    .video .video__playbutton .video_playbutton_middle {
      height: 22px;
      width: 25px;
      left: 40px;
      top: 35px;
      background-color: #ffffff;
      clip-path: polygon(0% 0, 100% 100%, 50% 50%, 0 100%);
      position: absolute; }

.uniqueTechnologies {
  max-width: 1232px;
  width: 100%;
  margin: 97px auto; }
  .uniqueTechnologies .uniqueTechnologies__top {
    color: #333333;
    font-family: "Futura PT";
    font-weight: 300;
    letter-spacing: 0.76px;
    text-align: center; }
    .uniqueTechnologies .uniqueTechnologies__top__title {
      height: fit-content;
      display: grid;
      place-items: center;
      font-size: 42px;
      line-height: 60px; }
    .uniqueTechnologies .uniqueTechnologies__top__desc {
      max-width: 844px;
      width: 100%;
      margin: 0 auto;
      color: #666666;
      font-family: "Futura PT";
      font-size: 19px;
      font-weight: 300;
      letter-spacing: 0.47px;
      line-height: 32px;
      text-align: center; }
  .uniqueTechnologies .uniqueTechnologies__bottom {
    margin: 50px 0;
    display: flex;
    width: 100%;
    height: 608px; }
    .uniqueTechnologies .uniqueTechnologies__bottom__left {
      padding: 20px 0px 0px 60px;
      max-width: 363px;
      width: 100%; }
    .uniqueTechnologies .uniqueTechnologies__bottom__right {
      width: 100%;
      display: flex;
      justify-content: flex-end; }
    .uniqueTechnologies .uniqueTechnologies__bottom__right__img {
      position: relative; }
    .uniqueTechnologies .uniqueTechnologies__bottom__right__img img {
      object-fit: cover;
      height: 500px;
      max-width: 810px;
      width: 100%; }
    .uniqueTechnologies .uniqueTechnologies__bottom__right__img__points {
      position: absolute;
      width: 100%;
      height: 80.5%;
      top: 0; }
      .uniqueTechnologies .uniqueTechnologies__bottom__right__img__points__point {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 38px;
        height: 38px;
        background: #334c3b;
        color: white;
        display: grid;
        place-content: center;
        border-radius: 100%;
        box-shadow: 0px 0px 5px 2px whitesmoke;
        cursor: pointer; }
      .uniqueTechnologies .uniqueTechnologies__bottom__right__img__points__point.corner {
        left: 17% !important;
        top: 15% !important; }
      .uniqueTechnologies .uniqueTechnologies__bottom__right__img__points__point.foundationCrown {
        top: 45% !important;
        left: 1% !important; }
      .uniqueTechnologies .uniqueTechnologies__bottom__right__img__points__point.dovetail {
        top: 8% !important;
        left: 62% !important; }
      .uniqueTechnologies .uniqueTechnologies__bottom__right__img__points__point.reverseJoint {
        top: 30% !important;
        left: 70% !important; }
    .uniqueTechnologies .uniqueTechnologies__bottom .uniqueTechnologies__dropdown__title {
      width: fit-content;
      color: #1c1f22;
      font-family: "Futura PT";
      font-size: 22px;
      font-weight: 500;
      letter-spacing: 1.06px;
      line-height: 24px;
      position: relative;
      margin-top: 5px;
      cursor: pointer; }
      .uniqueTechnologies .uniqueTechnologies__bottom .uniqueTechnologies__dropdown__title:hover {
        color: #3e5235; }
      .uniqueTechnologies .uniqueTechnologies__bottom .uniqueTechnologies__dropdown__title::before {
        content: "";
        position: absolute;
        width: 20px;
        left: -45px;
        height: 20px;
        border: 2px solid #bfbfbfa4;
        border-radius: 100%; }
    .uniqueTechnologies .uniqueTechnologies__bottom .uniqueTechnologies__dropdown__items {
      color: #8a8a8a;
      font-size: 1.2rem;
      height: 0px;
      margin: 10px 0;
      transition: all 0.6s;
      overflow: hidden; }
    .uniqueTechnologies .uniqueTechnologies__bottom .uniqueTechnologies__dropdown__items__item {
      display: block;
      line-height: 32px;
      border-bottom: 1px solid transparent;
      width: fit-content;
      cursor: pointer; }
      .uniqueTechnologies .uniqueTechnologies__bottom .uniqueTechnologies__dropdown__items__item:hover {
        color: #3e5235;
        border-bottom: 1px solid #3e5235; }

.uniqueTechnologies__dropdown__title.kvadratmeter.active,
.uniqueTechnologies__dropdown__title.material.active,
.uniqueTechnologies__dropdown__title.size.active {
  color: #3e5235; }
  .uniqueTechnologies__dropdown__title.kvadratmeter.active::before,
  .uniqueTechnologies__dropdown__title.material.active::before,
  .uniqueTechnologies__dropdown__title.size.active::before {
    border-color: #3e5235;
    background: #3e5235; }

.uniqueTechnologies__dropdown__items.kvadratmeter.active,
.uniqueTechnologies__dropdown__items.material.active,
.uniqueTechnologies__dropdown__items.size.active {
  height: 140px;
  transition: all 0.6s; }

.uniqueTechnologies__dropdown__items__item.active {
  color: #3e5235 !important;
  border-bottom: 1px solid #3e5235 !important; }

.map__container {
  margin: 30px 0; }
  .map__container #map {
    height: 603px;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto; }
  .map__container .map__container__title {
    color: #333333;
    font-family: "Futura PT";
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0.76px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 40px; }

.hero {
  display: flex;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }
  .hero .hero__img {
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative; }
    .hero .hero__img img {
      display: flex;
      width: 100%; }
    .hero .hero__img .hero__img__heading {
      animation: slideInImageOverlay 3.5s;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 200px;
      background: rgba(0, 0, 0, 0.35);
      padding-left: 100px; }
      .hero .hero__img .hero__img__heading .text {
        max-width: 600px;
        width: 100%; }
        .hero .hero__img .hero__img__heading .text p {
          font-size: 4rem;
          color: white; }
      .hero .hero__img .hero__img__heading .button {
        margin-top: 40px; }
        .hero .hero__img .hero__img__heading .button button {
          padding: 15px;
          cursor: pointer;
          background: none;
          border: 2px solid white;
          border-radius: 5px;
          color: white;
          font-weight: 500;
          transition: all 0.25s; }
          .hero .hero__img .hero__img__heading .button button:hover {
            transform: scale(1.04);
            background: rgba(0, 0, 0, 0.35); }

.hero {
  position: relative; }
  .hero .right__rectangle {
    animation: slideInImageRightRectangle 2.7s;
    border-radius: 8px;
    min-width: 236px;
    background-color: #334c3b;
    position: relative;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px; }
    .hero .right__rectangle .rectangle__inner__card {
      margin: 10px;
      align-items: center;
      text-align: center;
      max-width: 185px;
      width: 100%;
      color: #ffffff; }
      .hero .right__rectangle .rectangle__inner__card img {
        object-fit: contain;
        width: 80px; }
      .hero .right__rectangle .rectangle__inner__card p {
        font-family: "Futura PT";
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 18px;
        text-align: center;
        margin-top: 15px; }

.header {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  justify-content: space-between;
  display: flex;
  align-items: center; }
  .header .header__left img {
    object-fit: contain;
    width: 120px; }
  .header .header__middle nav a:nth-child(1) {
    animation: opacityAnim 1s; }
  .header .header__middle nav a:nth-child(2) {
    animation: opacityAnim 2s; }
  .header .header__middle nav a:nth-child(3) {
    animation: opacityAnim 3s; }
  .header .header__middle nav a:nth-child(4) {
    animation: opacityAnim 4s; }
  .header .header__middle nav a:nth-child(5) {
    animation: opacityAnim 5s; }
  .header .header__middle nav {
    text-transform: uppercase;
    font-size: 1.2rem; }
    .header .header__middle nav a {
      text-decoration: none;
      color: #727272;
      margin: 0 15px;
      font-family: "Futura PT";
      font-weight: 500;
      letter-spacing: 3.9px;
      line-height: 16px;
      transition: all 0.15s; }
      .header .header__middle nav a:hover {
        color: #101010; }

.header__languages button {
  display: none; }

.header__languages ul li {
  display: inline-block;
  font-size: 1.2rem;
  margin: 6px;
  cursor: pointer;
  color: gray; }
  .header__languages ul li:hover {
    color: black; }
  .header__languages ul li p {
    letter-spacing: 3px; }

.header__languages p:nth-child(1) {
  animation: opacityAnim 6s; }

.header__languages p:nth-child(2) {
  animation: opacityAnim 7s; }

.header__languages p:nth-child(3) {
  animation: opacityAnim 8s; }

.header__languages p:nth-child(4) {
  animation: opacityAnim 9s; }

.header__languages p:nth-child(5) {
  animation: opacityAnim 10s; }

.header__languages .active {
  transition: all 0.35s;
  color: #101010;
  border-bottom: 1px solid black; }

#footer {
  background-color: #efefef;
  width: 100%;
  padding: 20px 74px;
  height: fit-content; }
  #footer .footer__inner {
    width: 100%; }
  #footer .footer__inner__row-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    #footer .footer__inner__row-1 .inner__row-1__logo img {
      object-fit: contain;
      width: 120px; }
    #footer .footer__inner__row-1 nav a {
      text-decoration: none;
      cursor: pointer;
      margin-left: 50px;
      color: #3e3e3e;
      font-family: "Futura PT";
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 40px; }
      #footer .footer__inner__row-1 nav a:hover {
        color: #141414; }
    #footer .footer__inner__row-1 .inner__row-1__socials {
      display: flex;
      align-items: center; }
      #footer .footer__inner__row-1 .inner__row-1__socials img {
        margin: 10px;
        cursor: pointer;
        transition: all 0.35s; }

#footer {
  min-height: 300px; }
  #footer .footer__inner__row-2,
  #footer .footer__inner__row-3 {
    text-align: center;
    margin-top: 40px;
    color: #666666; }
  #footer .footer__inner__row-3 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #footer .footer__inner__row-3 p {
      position: relative;
      width: fit-content;
      margin-bottom: 5px;
      font-size: 1.15rem; }
      #footer .footer__inner__row-3 p::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 20px;
        bottom: -4px;
        width: 15px;
        height: 2px;
        background: #666666; }

.features {
  min-height: 734px;
  max-width: 1171px;
  width: 100%;
  margin: 50px auto; }
  .features .features__title {
    height: 60px;
    max-width: 844px;
    width: 100%;
    color: #333333;
    font-family: "Futura PT";
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0.76px;
    line-height: 60px;
    text-align: center;
    margin: 50px auto; }

.features__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .features__cards .feature__card {
    display: flex;
    max-width: 570px;
    margin: 20px 5px;
    width: 100%; }
    .features__cards .feature__card .feature__left {
      margin-right: 40px; }
      .features__cards .feature__card .feature__left p {
        margin-top: 15px; }
      .features__cards .feature__card .feature__left img {
        width: 50px; }
    .features__cards .feature__card .right__top__title {
      color: #1d1f22;
      font-family: "Futura PT";
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 3px;
      line-height: 24px; }
    .features__cards .feature__card .right__middle__desc {
      color: #666666;
      font-family: "Futura PT";
      font-size: 19px;
      font-weight: 300;
      letter-spacing: 0.47px;
      line-height: 32px; }
    .features__cards .feature__card .read-more,
    .features__cards .feature__card .read-less {
      color: #565656;
      width: fit-content;
      font-family: "Futura PT";
      font-size: 19px;
      font-weight: 300;
      letter-spacing: 0.47px;
      line-height: 32px;
      cursor: pointer;
      position: relative; }
      .features__cards .feature__card .read-more:hover,
      .features__cards .feature__card .read-less:hover {
        color: #333333; }
      .features__cards .feature__card .read-more::after,
      .features__cards .feature__card .read-less::after {
        content: "";
        position: absolute;
        bottom: 8px;
        left: 0;
        width: 100%;
        height: 1px;
        background: gray; }
      .features__cards .feature__card .read-more .readmore__dropdown,
      .features__cards .feature__card .read-less .readmore__dropdown {
        position: absolute;
        height: 8px;
        width: 8px;
        top: 11px;
        transform: rotate(45deg);
        border: 2px solid #333333;
        border-top: none;
        border-left: none;
        margin-left: 10px; }

.read-less .readmore__dropdown {
  transform: rotate(226deg) !important;
  top: 15px !important; }

.actualities {
  max-width: 1182px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto; }
  .actualities .actualities__title {
    height: 109px; }
    .actualities .actualities__title p {
      color: #333333;
      font-family: "Futura PT";
      font-size: 42px;
      font-weight: 300;
      letter-spacing: 0.76px;
      line-height: 60px;
      text-align: center; }
  .actualities .actualities__images {
    display: flex; }
    .actualities .actualities__images img {
      object-fit: cover;
      max-width: 570px;
      display: flex;
      width: 100%;
      height: 386px;
      cursor: pointer;
      transition: all 0.35s; }

.actualities__images__left,
.actualities__images__right {
  transition: all 0.35s;
  margin: 9px; }

.actualities__images__left:hover,
.actualities__images__right:hover {
  transform: scale(1.03); }

.actualities__images__left {
  position: relative; }
  .actualities__images__left::after {
    cursor: pointer;
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .actualities__images__left .actualities__images__left__heading {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 266px;
    left: 30px;
    bottom: 28px; }
    .actualities__images__left .actualities__images__left__heading .heading__top__text {
      max-width: 510px;
      width: 100%;
      color: #ffffff;
      font-family: "Futura PT";
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 24px; }
    .actualities__images__left .actualities__images__left__heading .heading__bottom__text {
      margin-top: 12px;
      color: #ffffff;
      font-family: "TT Norms";
      font-size: 18px;
      letter-spacing: 0;
      line-height: 28px; }

.actualities__bottom__text {
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.35s; }
  .actualities__bottom__text:hover p {
    color: #464646; }
  .actualities__bottom__text p {
    color: #5a5a5a;
    font-family: "Futura PT";
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 3px;
    line-height: 32px;
    position: relative; }
    .actualities__bottom__text p::after {
      content: "";
      position: absolute;
      height: 4px;
      width: 4px;
      top: 13px;
      transform: rotate(-45deg);
      border: 2px solid #5a5a5a;
      border-top: none;
      border-left: none;
      margin-left: 10px; }

.about__wood {
  margin: 40px 0;
  display: flex;
  align-items: center;
  flex-direction: column; }

.about__wood__cards {
  display: flex; }

.about__wood__title {
  height: 109px;
  display: flex;
  align-items: center;
  color: #333333;
  font-family: "Futura PT";
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0.76px;
  line-height: 60px;
  text-align: center; }

.about__wood__card {
  display: flex;
  align-items: center;
  position: relative; }
  .about__wood__card .card__image__container {
    max-width: 642px;
    width: 100%;
    position: relative; }
    .about__wood__card .card__image__container img {
      object-fit: cover;
      max-width: 642px;
      width: 100%;
      height: 500px; }
    .about__wood__card .card__image__container .card__image__arrows {
      position: absolute;
      right: 0;
      bottom: 0;
      background: white;
      height: 45px;
      max-width: 88px;
      width: 100%;
      display: flex; }
      .about__wood__card .card__image__container .card__image__arrows .arrows__left,
      .about__wood__card .card__image__container .card__image__arrows .arrows__right {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        transition: all 0.15s; }
        .about__wood__card .card__image__container .card__image__arrows .arrows__left:hover,
        .about__wood__card .card__image__container .card__image__arrows .arrows__right:hover {
          background: rgba(0, 0, 0, 0.1); }
      .about__wood__card .card__image__container .card__image__arrows .left__arrow,
      .about__wood__card .card__image__container .card__image__arrows .right__arrow {
        position: absolute;
        height: 9px;
        width: 9px;
        top: 17px;
        left: 9px;
        border: 2px solid #333333;
        border-top: none;
        border-left: none;
        margin-left: 10px; }
      .about__wood__card .card__image__container .card__image__arrows .left__arrow {
        transform: rotate(133deg); }
      .about__wood__card .card__image__container .card__image__arrows .right__arrow {
        left: 5px;
        transform: rotate(-45deg); }

.card__right {
  margin-left: 80px;
  max-width: 460px;
  width: 100%; }
  .card__right .card__right__title {
    position: relative; }
    .card__right .card__right__title .title__absolute__number {
      position: absolute;
      top: -120px;
      left: -20px;
      z-index: -1;
      opacity: 0.2;
      color: #c39f71;
      font-family: "Futura PT";
      font-size: 170px;
      font-style: oblique;
      font-weight: 500;
      letter-spacing: 4.25px;
      line-height: 218px; }
    .card__right .card__right__title .title__text {
      color: #1d1f22;
      font-family: "Futura PT";
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 3px;
      line-height: 24px; }
  .card__right .card__right__desc {
    margin-top: 20px;
    max-width: 460px;
    width: 100%;
    color: #666666;
    font-family: "Futura PT";
    font-size: 1.2rem;
    font-weight: 350;
    letter-spacing: 0.47px;
    line-height: 32px; }

.about__wood__pdf-link {
  display: flex;
  cursor: pointer;
  margin: 50px 0;
  position: relative; }
  .about__wood__pdf-link::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 13px;
    height: 4px;
    width: 4px;
    transform: rotate(-45deg);
    border: 2px solid #5a5a5a;
    border-top: none;
    border-left: none; }
  .about__wood__pdf-link img {
    margin-right: 15px; }
  .about__wood__pdf-link a {
    text-decoration: none;
    color: #333333;
    font-family: "Futura PT";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 32px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  margin: 0 auto; }

@keyframes slideInImageOverlay {
  from {
    transform: translateX(-1300px); }
  to {
    transform: translateX(0px); } }

@keyframes slideInImageRightRectangle {
  from {
    opacity: 0;
    transform: translateX(700px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes opacityAnim {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
